
.fm{
    
    height:1200px;
    width:100%;
}
.hlf {
    height: 50%;
    width: 100%;
}
.combo1 {
    width: 800px;
}
.info {
    float: left;
    width: 600px;
}

.table {
    width: 100%;
    height: 100%;
}

.btncol {
    width: 200px;
}
.combo {
    width: 400px;
}
.notification {
    background-color: lavender;
    height: 20px;
    width: 100%;
}










.fm1 {
    width: 800px;
}
.bodyh{
    width: 1000px;
    height: 1000px;
}
.tab11 {
    float: left;
    width: 450px;
}

.tab2 {
    float: left;
    width: 280px;
    height: 70%;
}

.tab3 {
    float: left;
    width: 280px;
    height: 70%;
}
  
.btncol1 {
    width: 250px;
    float:left;
   
}
.button {
    position:center;
    width: 90%;
    height:50px;
}
.button1 {
    position: center;
    width: 90%;
    height: 15%;
}

.disp {
    background-color:darkgray;
    height: 200px;
    width: 400px;
}
.search {
    float:left;
    height:200px;
    width: 200px;
    top:40%;
}
.table1 {
    overflow: scroll;
    width: 100%;
    height: 100%;
}
.grid {
    bottom: 0px;
    overflow: scroll;
    position: static;
    width: 100%;
    height: 30%;
    float: left;
    
}
.firstpgbtn{
    width: 300px;
}
<link href="css/StyleSheet1.css" rel="stylesheet" type="text/css" / >
