
.fm{
    
    height:650px;
}
.fm1 {
    width: 800px;
}
.bodyh{
   position:fixed;
      left:0;
      top:0;
      margin:0;
    width: 100%;
    height: 100%;
}
.combo1 {
    height: 100%;
    width:400px;
}
.combo {
   
    height: 100%;
    width:400px;
   
}
.info {
    float: left;
    width: 300px;
   
}
.btncol {
    width: 100px;
}
.btncol1 {
    width: 100px;
   
}
.hlf {
    height: 70%;
    width: 100%;
}
.button {
    position:center;
    width: 90%;
    height:50px;
}
.button1 {
    position: center;
    width: 90%;
    height: 15%;
}
.notification {
    background-color:lavender;
    height:20px;
    width: 100%;
}
.disp {
    background-color:darkgray;
    height: 200px;
    width: 400px;
}
.search {
    float:left;
    height:200px;
    width: 200px;
    top:40%;
}
.table {
    width: 100%;
    height: 100%;
    
}
.table1 {
    overflow: scroll;
    width: 100%;
    height: 100%;
}
.grid {
    bottom: 0px;
    overflow: scroll;
    position: static;
    width: 100%;
    height: 30%;
    float: left;
    
}
.firstpgbtn{
    width: 300px;
}